{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="signupform">
        <h1>SIGNUP BELOW</h1>
        {%for m in messages%}
        <h4 style="color:red;">{{m}}</h4>
        {%endfor%}
        <form action="signupProcess" method="POST"autocomplet="none">
            {%csrf_token%}
            <label>Username:</label><br>
            <input type="text" name="username"><br><br>
            <label>Email:</label><br>
            <input type="email"name="email"><br><br>
            <label>Password:</label><br>
            <input type="password" name="password"><br><br>
            <label>Repeat Password:</label><br>
            <input type="password" name="repeatPassword"><br><br>
            <button type="submit">Signup</button><br><br>
            
        </form>
        
      
    </div>
    
</body>
</html>